/* COLOR SCHEME */
:root {
    --primary-color: #FFDF00;
    --secondary-color: #FFFFF0;
    --highlight-color: #0047AB;
    --background-color: #FFFF;
    --text-color: #1E1E1E;
}

/* SITE-WIDE STYLE */
* {
    font-family: "Inconsolata", monospace;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: "Merriweather", serif;
}

/* HEADER STYLE */
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00d7";
}

/* NAVIGATION STYLE */
.navigation {
    display: none;
    border-bottom: 0;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}