/* SITE COLORS AND FONTS */
:root {
    --primary-color: #77DD77;
    --secondary-color: #F5F5DC;
    --third-color: #FFC0CB;
    --accent-one: #0D98BA;
    --accent-two: #301934;
    --site-white: #fff;
    --site-black: #090e16;
    --darkmode-background: #161618;
    --darkmode-font: #F7F7F7;
    --darkmode-accent-one: #FF5722;
    --darkmode-accent-two: #F41E0A;
    --darkmode-accent-three: #1368F4;
    --darkmode-accent-four: #E2C81E;

    --header-font: "Jersey 15", sans-serif;
    --font-style: "Josefin Sans", sans-serif;
}

/* SITE-WIDE STYLE */
* {
    font-family: var(--font-style);
    box-sizing: border-box;
}

body {
    background-color: var(--site-white);
    color: var(--site-black);
}

h1,
h2,
h3,
.scenarioTitle,
header span,
footer span,
footer p {
    font-family: var(--header-font);
    font-weight: 100;
}

/* HEADER STYLE */
header {
    padding: 1.5rem 10px;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--site-black);
}

header span {
    font-size: 2rem;
    color: var(--site-black);
}

.header-logo {
    display: block;
}

header img {
    width: 100%;
    height: auto;
    max-width: 100px;
    border: 1px solid var(--site-black);
    border-radius: 80%;
    box-shadow: 8px 8px 8px var(--site-black);
}

header section {
    display: flex;
    column-gap: 15px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-self: center;
}

.hamburger {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border: 0;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "X";
    font-size: 2rem;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.navigation li {
    text-align: center;
    width: 100%;
    background-color: var(--primary-color);
    border-top: 1px solid var(--site-black);
}

.navigation a {
    display: block;
    text-decoration: none;
    padding: 0.8rem 0.8rem;
    width: 100%;
    font-size: large;
    color: var(--site-black);
}

.navigation a:hover {
    background-color: var(--site-white);
}

.navigation a.active {
    text-decoration: underline;
}

/*MAIN STYLE*/
main {
    margin: 2rem;
    max-width: 900px;
    justify-self: center;
}

main h1 {
    text-align: center;
}

/* MAIN HOME STYLE */
.home-hero-image {
    display: block;
    justify-self: center;
}

.home-hero-image img{
    display: block;
    width: 100%;
    height: auto;
    border-left: 1px solid var(--site-black);
    border-right: 1px solid var(--site-black);
    border-bottom: 1px solid var(--site-black);
}

.home-main-section {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
}

.home-main-section > div {
    padding: 10px 10px 20px 10px;
    background-color: var(--secondary-color);
    border: 1px solid var(--site-black);
    border-radius: 10px;
}

.home-main-section > div h2 {
    margin-top: 0;
}

.announcments h2 {
    text-align: center;
}

.announcments ul {
    padding-left: 20px;
}

.announcments li {
    margin: 15px 0;
}

.welcome-info {
    grid-area: topright;
    text-align: center;
}

.welcome-info p {
    margin-bottom: 2rem;
}

.welcome-info a {
    text-decoration: none;
    padding: 0.8rem;
    background-color: var(--third-color);
    color: var(--site-black);
    border: 1px solid var(--site-black);
    border-radius: 1rem;
}

.welcome-info a:hover {
    background-color: var(--site-white);
}

.featured-game {
    grid-area: bottomright;
    text-align: center;
}

.featured-game img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border: 1px solid var(--site-black);
    margin-bottom: 10px;
}

/* MAIN BROWSE STYLE */
.videogame-Container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.videogame-Container div {
    padding: 15px;
    text-align: center;
    background-color: var(--secondary-color);
    border: 1px solid var(--site-black);
    border-radius: 0.8rem;
}

.videogame-Container img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border: 1px solid var(--site-black);
}

.videogame-Container button {
    background-color: var(--third-color);
    color: var(--site-black);
    border: 1px solid var(--site-black);
    border-radius: 1rem;
    padding: 0.8rem;
    cursor: pointer;
}

.videogame-Container button:hover {
    background-color: var(--site-white);
}

.game-details {
    border: 1px solid var(--site-black);
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: var(--site-white);
    box-shadow: 0 0 3rem var(--site-black);
    width: 90%;
    max-width: 600px;
}

.game-details::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

.game-details button {
    padding: 1rem 0.9rem;
    position: absolute;
    font-size: 2rem;
    top: 10px;
    right: 10px;
    color: var(--darkmode-accent-two);
    border: none;
    background-color: var(--site-white);
    cursor: pointer;
    font-family: var(--header-font);
}

.details-title {
    font-size: 3rem;
    text-align: center;
}

.game-details img {
    display: block;
    width: 100%;
    max-width: 300px;
    margin-bottom: 2rem;
    height: auto;
    border: 1px solid var(--site-black);
    justify-self: center;
}

.game-details p {
    text-align: center;
}

/* MAIN REQUEST STYLE */
.request-count {
    justify-self: center;
    margin: 2rem 0;
    padding: 0.8rem;
    border: 1px solid var(--site-black);
    border-radius: 2rem;
}

.request-form fieldset {
    margin: 1rem 0;
}

.request-form label {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.optional {
    margin-bottom: 0;
    color: var(--darkmode-accent-two);
    font-size: 0.7rem;
    font-style: italic;
}

.disclaimer {
    margin: 1rem 0;
    font-style: italic;
    text-align: center;
}

.request-form input,
.request-form textarea {
    margin: 0.6rem 0;
    padding: 0.8rem;
}

.request-form input:required:not(:valid) {
    border-left: 5px solid var(--darkmode-accent-two);
}

.request-form input:required:valid {
    border-left: 5px solid var(--primary-color);
}

.request-form textarea {
    resize: vertical;
}

.form-submit {
    display: block;
    justify-self: center;
    margin-top: 2rem;
    padding: 0.8rem;
    background-color: var(--third-color);
    color: var(--site-black);
    border: 1px solid var(--site-black);
    border-radius: 2rem;
    cursor: pointer;
}

.form-submit:hover {
    background-color: var(--site-white);
}

/* MAIN THANKYOU STYLE */
.thankyou-main-section {
    text-align: center;
    margin: 2rem 0;
}

/* FOOTER STYLE */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 10px;
    padding: 1.5rem 10px;
    background-color: var(--primary-color);
    border-top: 1px solid var(--site-black);
}

.socialIcons {
    display: flex;
    column-gap: 10px;
}

.socialIcons a {
    display: block;
    padding: 1rem;
    border: 1px solid var(--site-black);
    border-radius: 50%;
    color: var(--site-black);
    background-color: var(--primary-color);
    box-shadow: 8px 8px 8px var(--site-black);
}

.socialIcons a:hover {
    background-color: var(--site-white);
}

.socialIcons img {
    display: block;
    justify-self: center;
}

footer p,
footer span {
    font-size: 1.2rem;
    color: var(--site-black);
}